

PORT=3000
MONGO_URL=mongodb://mongo-user:123456@localhost:27017
MONGO_DB_NAME=mystore

JWT_SEED=Cualquier@CosaQue5ea

MAILER_SERVICE=gmail
MAILER_EMAIL=miguelbaumann81@gmail.com
MAILER_SECRET_KEY=socujawewxygafeb////

WEBSERVICE_URL=http://localhost:3000/api